<!DOCTYPE html>
<html lang="en">

  <head>

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
         (adsbygoogle = window.adsbygoogle || []).push({
              google_ad_client: "ca-pub-0103179190556109",
              enable_page_level_ads: true
         });
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Image Grabber</title>

    <!-- Bootstrap core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="static/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="static/css/landing-page.min.css" rel="stylesheet">

  </head>

  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-light bg-light static-top">
      <div class="container">
        <a class="navbar-brand" href="/">Image Grabber</a>
        <a class="btn btn-primary" href="#">FAQ</a>
      </div>
    </nav>



    <div class="container">

      <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8">

          <!-- Title -->
          <h1 class="mt-4">Image Grabber FAQ</h1>

          <hr>

          <!-- Date/Time -->
          <p>Posted on January 19, 2019 at 12:00 PM</p>

          <hr>

          <!-- Preview Image -->
          <img class="img-fluid rounded" src="/static/img/results.JPG" alt="">

            <hr>
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
              <!-- Responsive! -->
              <ins class="adsbygoogle"
                   style="display:block"
                   data-ad-client="ca-pub-0103179190556109"
                   data-ad-slot="1747336072"
                   data-ad-format="auto"
                   data-full-width-responsive="true"></ins>
              <script>
              (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
            <hr>

          <!-- Post Content -->
          <p class="lead">How does it get the images?</p>

            <p>Using a a websites url, the application is able to crawl the given website for image tags and then save the links to the images and return them in a single page for you to see.</p>

          <p class="lead">Why do I sometimes see empty boxes?</p>

            <p>On some websites there are images the size of 1 pixel. When we get the image to display it shows up as en empty box. We will be looking at how to get rid of these images form the results.</p>

          <p class="lead">Why does it take so long?</p>
            <p>The reason why it takes so long is that the application has to go on to the site and gather the images. Sometimes the sites take long to respond and other times there are so many images to grab.</p>

          <p class="lead">What does the scrolling do?</p>
            <p>The scrolling allows you to select if we should scroll down the images to load up images which do not show unless you scroll down such as on google image.</p>
            <p>You can choose how far to scroll down depending on how much images you wish to grab from the selected website.</p>

            <hr>

            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
              <!-- Responsive! -->
              <ins class="adsbygoogle"
                   style="display:block"
                   data-ad-client="ca-pub-0103179190556109"
                   data-ad-slot="1747336072"
                   data-ad-format="auto"
                   data-full-width-responsive="true"></ins>
              <script>
              (adsbygoogle = window.adsbygoogle || []).push({});
              </script>

            <hr>

        </div>
      </div>
    </div>




    <!-- Footer -->
    <footer class="footer bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
           <ul class="list-inline mb-2">
              <li class="list-inline-item">
                <a href="/">Home</a>
              </li>
              <li class="list-inline-item">
               .
              </li>
              <li class="list-inline-item">
                <a href="/faq">FAQ</a>
              </li>
            </ul>
            <p class="text-muted small mb-4 mb-lg-0">&copy; Image Grabber 2019. All Rights Reserved.</p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
