{% extends "blueprint.html" %}
{% block title %}Home{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}



{% block content %}

<form method="post">
    <div class="row">
    <div class="input-group">
      <input type="url" class="form-control input-lg" name="link" id="link" value="{{ request.form.link }}"
               placeholder="Enter a URL">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-default" style="color: #0088af"><i class="fa fa-arrow-circle-right fa-2x"
                                                                            aria-hidden="true"></i></button>
      </span>
    </div>
        </div>

        <h4>How far to look for images: </h4>
    <label class="checkbox-inline"><input checked="checked" type="radio" name="options" id="option1" value="2">Default</label>
    <label class="checkbox-inline"><input type="radio" name="options" id="option2" value="4">2x further</label>
    <label class="checkbox-inline"><input type="radio" name="options" id="option3" value="6">3x further</label>

</form>

<center>
{% for message in get_flashed_messages() %}
  <div class="alert alert-info"> <strong class="error">{{ message }}</strong> </div>
{% endfor %}
</center>

<hr>
        <div class="container">
            <h4>Recent websites searched </h4>
            <table class="table">
    <tbody>
    {% for link in urls %}
      <tr>
        <td><a href="{{ link }}"> {{ link }} </a></td>
      </tr>
    {% endfor %}
    </tbody>
            </table>
        </div>


{% endblock %}



