<!DOCTYPE html>
<html lang="en">

  <head>

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
         (adsbygoogle = window.adsbygoogle || []).push({
              google_ad_client: "ca-pub-0103179190556109",
              enable_page_level_ads: true
         });
    </script>

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Image Grabber</title>

    <!-- Bootstrap core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="static/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="static/css/landing-page.min.css" rel="stylesheet">

  </head>

  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-light bg-light static-top">
      <div class="container">
        <a class="navbar-brand" href="/">Image Grabber</a>
        <a class="btn btn-primary" href="/faq">FAQ</a>
      </div>
    </nav>

    <!-- Masthead -->
    <header class="masthead text-white text-center">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <h1 class="mb-5">Image Grabber</h1>
          </div>
          <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
            <form method="post">
              <div class="form-row">
                <div class="col-12 col-md-9 mb-2 mb-md-0">
                  <input type="url" class="form-control form-control-lg" name="link" id="link" value="{{ request.form.link }}"
               placeholder="e.g. https://www.google.com">
                </div>
                <div class="col-12 col-md-3">
                  <button type="submit" class="btn btn-block btn-lg btn-primary">Go</button>
                </div>
              </div>
              <br>
                      <h5>How far to look for images: </h5>
              <div class="form-check form-check-inline">
                  <label class="form-check-input"><input checked="checked" type="radio" name="options" id="option1" value="4">Default  </label>
              </div>
              <div class="form-check form-check-inline">
                  <label class="form-check-input"><input type="radio" name="options" id="option2" value="6">  Far  </label>
              </div>
                <div class="form-check form-check-inline">
                  <label class="form-check-input"><input type="radio" name="options" id="option3" value="8">  Whole page</label>
                </div>
            </form>

            <center>
                {% for message in get_flashed_messages() %}
                  <div class="alert alert-info"> <strong class="error">{{ message }}</strong> </div>
                {% endfor %}
            </center>
            <hr>
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
              <!-- Responsive! -->
              <ins class="adsbygoogle"
                   style="display:block"
                   data-ad-client="ca-pub-0103179190556109"
                   data-ad-slot="1747336072"
                   data-ad-format="auto"
                   data-full-width-responsive="true"></ins>
              <script>
              (adsbygoogle = window.adsbygoogle || []).push({});
              </script>
            <hr>
          </div>
        </div>
      </div>
    </header>

    <!-- Icons Grid -->
    <section class="features-icons bg-light text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="icon-screen-desktop m-auto text-primary"></i>
              </div>
              <h3>Any Website</h3>
              <p class="lead mb-0">Most websites will work as long as they have images!</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="icon-layers m-auto text-primary"></i>
              </div>
              <h3>Scrolling</h3>
              <p class="lead mb-0">Select how far to scroll down the page as some images only load when you scroll.</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="icon-check m-auto text-primary"></i>
              </div>
              <h3>Easy to Use</h3>
              <p class="lead mb-0">Just enter any URL and we will do the rest!</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <hr>
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <!-- Responsive! -->
          <ins class="adsbygoogle"
               style="display:block"
               data-ad-client="ca-pub-0103179190556109"
               data-ad-slot="1747336072"
               data-ad-format="auto"
               data-full-width-responsive="true"></ins>
          <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
    <hr>

    <!-- Footer -->
    <footer class="footer bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
            <ul class="list-inline mb-2">
              <li class="list-inline-item">
                <a href="/">Home</a>
              </li>
              <li class="list-inline-item">
               .
              </li>
              <li class="list-inline-item">
                <a href="/faq">FAQ</a>
              </li>
            </ul>
            <p class="text-muted small mb-4 mb-lg-0">&copy; Image Grabber 2019. All Rights Reserved.</p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
